<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Games</title>
</head>
<body>
    <h1>masuk =><%= accessLevel %></h1>
    <h5>masuk data games =><%= data[0].name %></h5>
    <a href="/games/add">add Games</a>
    <table border=1>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Platform</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((datum) => { %>
                <tr>
                    <td><%= datum.name %></td>
                    <td><%= datum.genre %></td>
                    <td><%= datum.platform %></td>
                    <td>
                        <a href="/games/delete/<%= datum.id %>">Delete</a>
                        <a href="/games/edit/<%= datum.id %>">Edit</a>
                        <a href="/games/rent/<%= datum.id %>">Rent</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>